html {
  background-color: rgba(234, 225, 201, 1);
  font-family: axia, sans-serif;
  font-size: 1rem;
  color: black;
  line-height: 30px;
}

* {
  box-sizing: border-box;
}

.columns {
  -webkit-columns: 4 150px;
  -moz-columns: 4 150px;
  columns: 1 300px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

h1 {
  text-align: center;
  font-family: axia-stencil, sans-serif;
  font-weight: 900;
  font-style: normal;
  display:inline-block;

}

h2 {
  text-align: center;
  font-family: axia, sans-serif;
  font-weight: 900;
  font-style: normal;
}

h3 {
  font-family: axia, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
}

p {
  text-indent: 0px;
  font-family: axia, sans-serif;
  font-weight: 300;
  font-style: normal;

}

dt {
  font-family: axia, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
}

dd {

  font-family: axia, sans-serif;
  font-weight: 300;
  font-style: normal;
}
.pos{
font-family: axia, sans-serif;
font-weight: 300;
font-style: italic;
}

img{
  width: 50px;
  height: 50px;
}