html{
    background-color: rgba(234, 225, 201, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    line-height: 30px;
    font-style: normal;
    font-weight: 100;
}
  *{
    box-sizing: border-box;
  }
  .column{
    float: left;
    width: 400px;
    height:fit-content
  }
  
h1{
   text-align: center;
}
h2{
    text-align: center;
}
p{
    text-indent:10px ;
    font-size: large;
}
dt{
    font-weight: bold;
    font-size: larger;
}
dd{
  font-size: large;
}